# Production database
DATABASE_URL=postgresql://user:password@host:5432/database

# Local PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=letterboxd
POSTGRES_USER=letterboxd
POSTGRES_PASSWORD=letterboxd

# TMDB
TMDB_API_KEY=91704ecf3d8d6409d4a3d24690309b29